html {
    font-size: 16px;
    font-family: sans-serif;
    height: 100%;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}


/* HEADER */

header {
    /* border: 1px solid; */

    position: absolute;
    display: flex;
    width: 100%;
    height: 10vh;
    z-index: 1;
    top: 0;
    cursor: default;
    background-color: #272727;
    transition: 0.125s;
}

.logo-section {
    /* border: 1px solid; */

    height: 100%;
    width: 25%;
    /* display: flex; */
    text-align: center;
}

.main-section {
    /* border: 1px solid; */

    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.user-section {
    /* border: 1px solid; */

    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-section img {
    /* width: 100%; */
    height: 60%;
    transform: translateY(25%);   
    cursor: pointer;
}

.main-section a {
    margin-left: 5.5%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: .25s ease-in-out;
}

.main-section a:hover {
    color: gray;
}

.main-section a:first-child {
    margin-left: 0;
}

.user-section i {
    /* border: 1px solid; */

    position: relative;
    color: white;
    font-size: 1.25rem;
    margin-right: 5%;
    cursor: pointer;
}

.user-section i div {
    border: 1px solid #3C619E;

    position: absolute;
    right: 0;
    top: 0;
    width: 75%;
    height: 75%;
    margin-top: -37.5%;
    margin-right: -37.5%;
    border-radius: 125px;
    background-color: #3C619E;
    font-size: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}