html {
    font-size: 16px;
    font-family: sans-serif;
    height: 100%;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}

/* HEADER */

header {
    border: 1px solid;

    position: absolute;
    display: flex;
    width: 100%;
    height: 10vh;
    z-index: 2;
}


.logo-section {
    border: 1px solid;

    height: 100%;
    width: 25%;
    /* display: flex; */
    text-align: center;
}

.main-section {
    border: 1px solid;

    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.user-section {
    border: 1px solid;

    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-section img {
    /* width: 100%; */
    height: 60%;
    transform: translateY(25%);   
    cursor: pointer;
}

.main-section a {
    margin-left: 5.5%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.main-section a:first-child {
    margin-left: 0;
}

.user-section i {
    color: white;
    font-size: 1.25rem;
    margin-right: 5%;
    cursor: pointer;
}

/* BANNER */

.banner-container {
    border: 1px solid;

    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-img {
    position: absolute;
    height: 100%;
    width: 100%;
    filter: brightness(50%);
    background-image: url(./src/Banner/banner1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.desc-section {
    border: 1px solid;

    position: relative;
    z-index: 2;
    width: 40%;
    text-align: center;
    color: white;
    margin-top: 10%;
}

.desc-section h1 {
    font-size: 4rem;
    font-weight: 100;
}

.desc-section input {
    position: absolute;
    width: 20%;
    height: 25%;
    left: 0;
    margin-left: 40%;
}