html {
    font-size: 16px;
    font-family: sans-serif;
    height: 100%;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}


/* HEADER */

header {
    /* border: 1px solid; */

    position: absolute;
    display: flex;
    width: 100%;
    height: 10vh;
    z-index: 1;
    top: 0;
    cursor: default;
    transition: 0.125s;
}

.logo-section {
    /* border: 1px solid; */

    height: 100%;
    width: 25%;
    /* display: flex; */
    text-align: center;
}

.main-section {
    /* border: 1px solid; */

    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.user-section {
    /* border: 1px solid; */

    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-section img {
    /* width: 100%; */
    height: 60%;
    transform: translateY(25%);   
    cursor: pointer;
}

.main-section a {
    margin-left: 5.5%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: .25s ease-in-out;
}

.main-section a:hover {
    color: gray;
}

.main-section a:first-child {
    margin-left: 0;
}

.user-section i {
    /* border: 1px solid; */

    position: relative;
    color: white;
    font-size: 1.25rem;
    margin-right: 5%;
    cursor: pointer;
}

.user-section i div {
    border: 1px solid #3C619E;

    position: absolute;
    right: 0;
    top: 0;
    width: 75%;
    height: 75%;
    margin-top: -37.5%;
    margin-right: -37.5%;
    border-radius: 125px;
    background-color: #3C619E;
    font-size: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BANNER */

.banner-container {
    /* border: 1px solid; */

    top: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: none;
}

.banner-container i {
    position: absolute;
    z-index: 2;
    color: white;
    transform: scale(2.5);
}

.background-img {
    position: absolute;
    height: 100%;
    width: 100%;
    filter: brightness(60%);
    background-image: url(./src/Banner/banner1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.desc-section {
    /* border: 1px solid; */

    position: relative;
    z-index: 2;
    width: 40%;
    text-align: center;
    color: white;
    margin-top: 10%;
}

.desc-section div {
    overflow: hidden;
}

.desc-section h1 {
    font-size: 4rem;
    font-weight: 100;
}

.desc-section input {
    position: absolute;
    width: 25%;
    height: 25%;
    left: 0;
    margin-left: 40%;
    border-radius: 50px;
    font-size: 1.15rem;
    font-weight: bold;
    border: 2.5px solid white;
    cursor: pointer;
    transition: background-color .25s;
}

.desc-section input:hover {
    color: white;
    background-color: transparent;
}

.pages-section {
    /* border: 1px solid; */

    position: absolute;
    z-index: 2;
    width: 15%;
    height: 12.5%;
    right: 0;
    bottom: 0;
    color: white;
    display: flex;

    align-items: center;
}

.pages-section input {
    background: none;
    border-radius: 20px;
    border: 2.5px solid;
    height: 30px;
    width: 30px;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
    margin-left: 3.5%;
    color: rgb(182, 182, 182);
    overflow: hidden;
    text-align: center;
    transition: ease;
}

.progress-bar{
    border: 2.5px solid rgb(190, 190, 190);

    position: absolute;
    width: 0%;
    bottom: 0;
    left: 0;

    transition: 50ms linear;
}

/* CATEGORIES */

.categories-container {
    /* border: 1px solid; */

    position: absolute;
    width: 100%;
    height: 50vh;
    top: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.categories-container div {
    /* border: 1px solid; */

    position: relative;
    height: 75%;
    width: 19%;
    display: flex;
    font-size: 1.35rem;
    font-weight: 200;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.categories-container div img {
    /* border: 1px solid; */
    width: 75%;
    cursor: pointer;
    transition: .6s ease-in-out;
}

/* .categories-container div img:hover{
    transform: scale(1.1);
} */

.categories-container div p {
    position: absolute;
    /* right: 15%; */
    bottom: 15%;
    cursor: pointer;
    transition: .125s ease-in-out;
}


/* PROVIDER */

.provider-container {
    /* border: 1px solid; */

    position: absolute;
    width: 100%;
    height: 90vh;
    top: 125vh;
}

.provider-container h1{
    margin-left: 5%;
    font-weight: lighter;
}

.brand-section {
    /* border: 1px solid; */

    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 3vh;
}

.brand-section  div{
    /* border: 1px solid; */

    width: 18%;
    height: 15vh;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* PRODUCT */ 


.products-container {
    /* border: 1px solid; */

    position: relative;
    width: 100%;
    height: 50vh;
    top: 215vh;
}

.products-container h1 {
    margin-left: 5%;
}

.products-container p {
    margin-left: 5%;
    font-weight: bold;
}

.products-section {
    /* border: 1px solid; */

    width: 90%;
    /* height: 50vh; */
    margin: 0 auto;
    /* margin-left: 5%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 5vh;
}

.product-frame {
    /* border: 1px solid; */

    position: relative;
    width: 23%;
    cursor: pointer;
}

.product-frame img {
    width: 100%;
    cursor: pointer;
}

.product-frame .name {
    font-weight: 700;
    cursor: pointer;
}

.product-frame .price {
    color: gray;
    font-weight: 500;
    cursor: pointer;
}

.hover-container {
    /* border: 1px solid; */

    position: absolute;
    width: 100%;
    height: 75%;
    top: 0;
    left: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.add-to-cart-frame {
    border: 2.5px solid #3C619E;
    position: absolute;
    width: 50%;
    height: 14%;
    border-radius: 50px;
    background-color: #3C619E;
    right: 5%;
    bottom: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    transition: background-color .25s;
    transition: .25s;
    opacity: 0;
    transform: translateY(2vh);
}

.add-to-cart-frame:hover {
    background-color: transparent;
    color: #3C619E;
}

.fav-frame {
    /* border: 1px solid; */

    position: absolute;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.25%;
    right: 10%;
    opacity: 0;
    transform: translateY(-2vh);
    transition: .25s;
}

.fav-frame i{
    transform: scale(2);
    cursor: pointer;
    color: #3C619E;
    transition: .25s;
}   

.detail-frame {
    /* border: 1px solid; */

    position: absolute;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.25%;
    right: -2.5%;
    opacity: 0;
    transform: translateY(-2vh);
    transition: .25s;
}

.detail-frame form input {
    border: 1px solid;

    position: absolute;
    display: none;
    cursor: default;
}

.detail-frame i{
    transform: scale(2);
    cursor: pointer;
    color: #3C619E;
}   

